<h1>
	Matematicas --> Sumar Numeros Post
</h1>

<form method="post">
	<label>Num1</label>
	<input type="number" name="num1" class="form-control" /> <br />

	<label>Num2</label>
	<input type="number" name="num2" class="form-control" /> <br />

	<button class="btn btn-info">
		Realizar Suma
	</button>
</form>

<h1>
	<br />
	@ViewData["DATA"]
</h1>