@model List<FilaTablaMultiplicar>

<h1>Tabla de Multiplicar Model</h1>

<form method="post">
	<label>Numero</label>
	<input type="number" name="numero" class="form-control" />
	<br />
	<button class="btn btn-warning">
		Mostrar tabla
	</button>
</form>

@if (Model != null)
{
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Operacion</th>
				<th>Resultado</th>
			</tr>
		</thead>
		<tbody>
			@foreach (FilaTablaMultiplicar fila in Model)
			{
				<tr>
					<td>@fila.Operacion</td>
					<td>@fila.Resultado</td>
				</tr>
			}
		</tbody>
	</table>
}