@{
	int valor = 14;
	string texto = "Hoy es lunes";
	valor += 1;
	texto += " y mañana martes";
	texto = texto.ToUpper();
}

<h2 style="color: navy">
	Texto: @texto, Número: @valor
</h2>

@if (valor > 0){
	texto = "positivo";
	<h3>@texto</h3>;
}else{
	texto = "negativo";
	<h3>@texto</h3>
	;
}